@use "../variables/colors.scss" as *;

.footer {
  background-color: $color-gray-800;
  padding-block: 4rem;
  color: $color-gray-50;

  .footer-title {
    font-size: 1.25rem;
    font-weight: 800;
    text-transform: uppercase;
  }

  .footer-menu,
  .newsletter-form {
    margin-block: 2rem;
  }

  .newsletter-form {
    .newsletter-summery {
      color: $color-gray-300;
    }
    input {
      background-color: $color-gray-700;
    }
    button {
      background-color: $color-gray-50;
      color: $color-gray-800;
      &:hover {
        background-color: $color-gray-200;
      }
    }
  }

  .footer-menu {
    gap: 1rem;
    li > a {
      color: $color-gray-300;
      &:hover {
        color: $color-gray-50;
      }
    }
  }

  .copyright-text {
    color: $color-gray-300;
  }
}
