@use "../variables/colors.scss" as *;
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  li > a {
    color: $color-gray-600;
    &:hover,
    &.active {
      color: $color-gray-800;
    }
  }
}
