<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="
    {% if description %}
    {{ description }}
    {% else %}
    {{ site.description }}
    {% endif %}
    ">
    <title>
      {% if title %}{{ title }} - {% endif %}{{ site.title }}
    </title>
    <link rel="stylesheet" href="/assets/prism/prism.css"  />
    <link rel="stylesheet" href="/assets/fontawesome/css/fontawesome.css"  />
    <link rel="stylesheet" href="/assets/fontawesome/css/brands.css"  />
    <link rel="stylesheet" href="/assets/fontawesome/css/solid.css"  />
    <link rel="stylesheet" href="/styles/main.css"  />
    {% block head %}
    {% endblock %}
  </head>
  <body class="bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100">
    {% include "navbar.njk" %}
    {{ content | safe }}
    {% include "footer.njk" %}
  </body>
</html>
