---
layout: base.njk
---

<main class="my-12">
  <div class="mx-auto max-w-2xl px-4 w-full">
    <article class="my-12 prose dark:prose-invert">
      <header>
        <p>
          <span>{{ date | formatDate }}</span>
          <span>•</span>
          <span>{{ content | readingTime }}</span>
        </p>
        <h1>{{ title }}</h1>
        {% if coverPhoto %}
          <figure>
            <img src="{{ coverPhoto }}" alt="Cover Photo" class="w-full aspect-video rounded-md overflow-hidden object-cover" />
          </figure>
        {% endif %}
      </header>
      <section>
        {{content|safe}}
      </section>
    </article>
  </div>
</main>
