<footer class="footer">
  <div class="container">
    <a href='/' class="footer-title">Rohidul Islam</a>

    {% include "newsletter-form.njk" %}
    
    <ul class="menu footer-menu">
      {% for item in nav.items %}
        <li>
          <a href="{{ item.href }}" {% if item.href == page.url %} class="active" {% endif %}>{{ item.label }}</a>
          </li>
      {% endfor %}
    </ul>

    <p class="copyright-text">&copy; 2022 Oliur. All Rights Reserved.</p>
  </div>
</footer>