<footer class="footer">
  <div class="container">
    <a href='/' class="footer-title">Rohidul Islam</a>

    {% include "newsletter-form.njk" %}
    
    <ul class="menu footer-menu">
      <li><a href="/posts">Posts</a></li>
      <li><a href="/tags">Tags</a></li>
      <li><a href="/newsletter">Newsletter</a></li>
      <li><a href="/hire-me">Hire Me</a></li>
    </ul>

    <p class="copyright-text">© 2022 Oliur. All Rights Reserved.</p>
  </div>
</footer>