<nav class="nav-bar" role="navigation">
  <div class="container">
    <div class="content">
      <div class="left-wrapper">
        <a href="/" class="nav-logo">Rohid</a>
      </div>
      <div class="right-wrapper">
        <ul class="menu nav-menu">
          {% for item in nav.items %}
            <li class="menu-item{% if item.href == page.url %} active{% endif %}">
              <a href="{{ item.href }}"
              {% if item.href == page.url %} 
              aria-current="page"
              {% endif %}
              >{{ item.label }}</a>
              </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</nav>