<nav class="nav-bar">
  <div class="container">
    <div class="content">
      <div class="left-wrapper">
        <a href="/" class="nav-logo">Rohid</a>
      </div>
      <div class="right-wrapper">
        <ul class="menu nav-menu">
          {% for item in nav.items %}
            <li>
              <a href="{{ item.href }}" {% if item.href == page.url %} class="active" {% endif %}>{{ item.label }}</a>
              </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</nav>