<nav class="nav-bar">
  <div class="container">
    <div class="content">
      <div class="left-wrapper">
        <a href="/" class="nav-logo">Rohid</a>
      </div>
      <div class="right-wrapper">
        <ul class="menu nav-menu">
          <li><a href="/posts">Posts</a></li>
          <li><a href="/tags">Tags</a></li>
          <li><a href="/newsletter">Newsletter</a></li>
          <li><a href="/hire-me">Hire Me</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>