---
layout: base.njk
---

<div class="page-layout">
  <header class="header">
    <div class="container">
      <h1 class="title">{{title}}</h1>
    </div>
  </header>

  <main>{{ content | safe }}</main>
</div>
