---
layout: base.njk
---



<main>
  <header class="my-12">
    <div class="px-4 mx-auto max-w-2xl w-full">
      <h1 class="text-3xl font-bold">{{title}}</h1>
      {% if description %}
        <p class="text-gray-600 dark:text-gray-300 mt-2">{{description}}</p>
      {% endif %}
    </div>
  </header>
  <div class="my-12">
    {{ content | safe }}
  </div>
</main>
