$color-gray-50: #f9fafa;
$color-gray-100: #f1f1f2;
$color-gray-200: #e7e7e8;
$color-gray-300: #d3d4d5;
$color-gray-400: #abadaf;
$color-gray-500: #7d7f83;
$color-gray-600: #52555a;
$color-gray-700: #33373d;
$color-gray-800: #1d2025;
$color-gray-900: #171a1d;

$color-primary-main: #3b82f6;
$color-primary-light: #60a5fa;
$color-primary-dark: #2563eb;
