@use "../variables/colors.scss" as *;
.page-layout {
  header,
  main {
    margin-block: 4em;
  }
  header {
    .title {
      font-size: 2em;
      font-weight: 600;
    }
    .subtitle {
      font-size: 1.375em;
      color: $color-gray-600;
      line-height: 1.375;
    }
  }
}
