@use "../variables/colors.scss" as *;

.post-layout {
  .post-header {
    .cover-photo {
      width: 100%;
      aspect-ratio: 16/9;
      overflow: hidden;
      object-fit: cover;
      border-radius: 0.5rem;
    }
    .title {
      margin: 0;
      margin-bottom: 1rem;
      font-size: 1.5em;
      font-weight: 600;
    }
    .info {
      color: $color-gray-600;
      margin: 0;
      margin-bottom: 2em;
    }
  }
  .post-header,
  .post-main {
    margin-block: 4em;
  }
}
