---
layout: base.njk
title: Home
---

<main>
  <div class="mx-auto px-4 max-w-4xl w-full md:flex gap-12">
    <div class="flex-1">
      <section id="featured-posts" class="my-12">
      <div class="flex items-center h-8 mb-6">
        <h2 class="text-xl font-semibold flex-1">Recent Posts</h2>
        <a href="/recent" class="text-primary-500 group">
          <span>See All</span>
          <i class="fa-solid fa-arrow-right group-hover:translate-x-2 transition-transform duration-300"></i>
        </a>
      </div>
      <div class="space-y-8">
        {% for post in collections.posts %}
        <article>
          <h3 class="text-xl font-semibold mb-2">
            <a href="{{ post.url }}" class="hover:text-primary-500">
              {{ post.data.title }}
            </a>
          </h3>
          <p class="text-gray-700 dark:text-gray-300 line-clamp-2 mb-2">{{ post.data.description }}</p>
          <div class="flex flex-wrap gap-3">
            <p class="text-gray-500 dark:text-gray-400">
              <time>{{ post.data.date | formatDate }}</time>
              <span>•</span>
              <span>{{ post.templateContent | readingTime }}</span>
            </p>
            <a href="#" class="px-1.5 py-0.5 text-sm rounded bg-gray-100 dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700 flex items-center justify-center">React</a>
            <a href="#" class="px-1.5 py-0.5 text-sm rounded bg-gray-100 dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700 flex items-center justify-center">TypeScript</a>
          </div>
        </article>
        {% endfor %}
      </div>
    </section>
    </div>

    <aside class="md:w-60">
      <section class="my-12">
        <div class="flex items-center h-8 mb-4">
          <h2 class="text-xl font-semibold flex-1">Categories</h2>
        </div>
        <ul class="flex flex-wrap gap-2">
          <li>
            <a href="#" class="px-2 py-1 rounded bg-gray-100 dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700 flex items-center justify-center">React</a>
          </li>
          <li>
            <a href="#" class="px-2 py-1 rounded bg-gray-100 dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700 flex items-center justify-center">TypeScript</a>
          </li>
          <li>
            <a href="#" class="px-2 py-1 rounded bg-gray-100 dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700 flex items-center justify-center">Next.js</a>
          </li>
          <li>
            <a href="#" class="px-2 py-1 rounded bg-gray-100 dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700 flex items-center justify-center">Flutter</a>
          </li>
        </ul>
      </section>
      <section class="my-12">
        <div class="flex items-center h-8 mb-4">
          <h2 class="text-xl font-semibold flex-1">Featured Posts</h2>
        </div>
        <ul class="space-y-4">
          {% for item in collections.posts %}
            <li>
              <a href="{{ item.url }}" class="flex gap-2">
                <p class="text-gray-500 dark:text-gray-400">{{loop.index}}.</p>
                <p class="font-medium flex-1 hover:text-primary-500">{{item.data.title}}</p>
              </a>
            </li>
          {% endfor %}
        </ul>
      </section>
    </aside>

  </div>
</main>
